install_modules:
  - puppetlabs-stdlib
  - puppetlabs-ntp
puppet_agents:
  NtpNode1:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode2:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode3:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode4:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode5:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode6:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode7:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
  NtpNode8:
    classes:
      ntp:
        servers:
          0.north-america.pool.ntp.org
