install_modules:
  - puppetlabs-stdlib
  - puppetlabs-ntp
puppet_agents:
  NtpNode1:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode2:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode3:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode4:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode5:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode6:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode7:
    ntp:
      servers:
        0.north-america.pool.ntp.org
  NtpNode8:
    ntp:
      servers:
        0.north-america.pool.ntp.org
