install_modules:
  - puppetlabs-stdlib
  - rcoleman-variance
  - rcoleman-wordpress
  - rcoleman-mysql
  - rcoleman-pedemo
dashboard_groups:
  variance_group:
    classes: pedemo::variance
puppet_agents:
  WordpressAgent:
    classes:
      - pedemo::wordpressdemo
    groups: variance_group
  Agent2:
    groups: variance_group
  Agent3:
    groups: variance_group
  Agent4:
    groups: variance_group
  Agent5:
    groups: variance_group
  Agent6:
    groups: variance_group
  Agent7:
    groups: variance_group
  Agent8:
    groups: variance_group
