install_modules:
  - bodepd-testmodule
puppet_agents:
  NonParamClassAgent:
    classes:
      - testmodule::non_param_class
    parameters:
      foo: non_param_foo
      bar: non_param_bar
  ParamClassAgent:
    classes:
      testmodule::param_class:
        foo: param_foo
        bar: param_bar
